<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
        <servlet-name>bluemaps</servlet-name>
        <servlet-class>BlueMapServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>bluemaps</servlet-name>
        <url-pattern>/*</url-pattern> 
    </servlet-mapping>
</web-app>